deldata/
mlmodels/
mlreports/
reports/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pywz
*.pywz2

./docs/
./tests/
./scripts/
./mlreports/
./mlmodels/
